{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Desarrolladores</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Slug</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('desarrollador_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.slug }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('desarrollador_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('desarrollador_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('desarrollador_new') }}">
                Crear un nuevo desarrollador
            </a>
        </li>
    </ul>
    {% endblock %}
