{# empty Twig template #}
{% extends "::frontend.html.twig" %}
{% block article %}

    {{form_start(formulario)}}
{{form_errors(formulario)}}
<div>
    {{form_label(formulario.nombre)}}
    {{form_errors(formulario.nombre)}}
    {{form_widget(formulario.nombre)}}
</div>
<div>
{{form_label(formulario.username, 'Nombre de Usuario')}}
{{form_errors(formulario.username)}}
{{form_widget(formulario.username)}}
</div>



{{form_end(formulario)}}


{%endblock%}



